<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
        <rewrite>
            <rules>
                <rule name="WebAPI">
                    <match url="^WebAPI(.*)"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^172.18.252.33:8025$"/>
                    </conditions>
                    <action type="Rewrite" url="http://172.18.252.33:8023/{R:1}"/>
                </rule>
            </rules>
            <outboundRules>
                <rule name="OUTWebAPI">
                    <match filterByTags="A, Img, Link, Script" pattern="^/(.*)"/>
                    <conditions>
                        <add input="{URL}" pattern="^/WEBAPI/.*"/>
                    </conditions>
                    <action type="Rewrite" value="/WEBAPI/{R:1}"/>
                </rule>
            </outboundRules>
        </rewrite>
        <urlCompression doStaticCompression="false" doDynamicCompression="false"/>
  </system.webServer>

 
</configuration>
