.product_nav{
    width: 100%;
    height: 30px;
    position: relative;
    background: #333;
    margin-bottom: 10px;
}
.product_nav ul{
    padding: 0px 10px;
    position: relative;
    overflow: hidden;
}
.product_nav ul li{
    float: left;
    position: relative;
    display: block;
    cursor: pointer;
    height: 28px;
    margin: 1px;
}
.product_nav ul li:hover{
    background: #fff;
}
.product_nav ul li:hover a{
    color: #09f;
}
.product_nav ul li.active {
    background: #fff;
}
.product_nav ul li.active a{
    color: #09f;
}
.product_nav ul li a{
    color: #fff;
    padding: 1px 12px;
    height: 26px;
    line-height: 26px;
    display: block;
    font-size: 14px;
}


.product_exchange{
    width: 860px;
    height: auto;
    margin:10px 20px;
}

.add_product_exchange{
    width: 100%;
    height: 30px;
    position: relative;
}
.add_product_exchange a{
    float: right;
    padding-right: 5px;
    display:inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background:url("images/add-row.gif") no-repeat 0 6px;
}

.search_product_exchange{
    width: 100%;
    height: 30px;
    position: relative;
    margin: 5px 0;
}
.search_product_exchange_search{
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    float: left;
}
.search_product_exchange_search span{
    font-size: 12px;
    margin-right: 10px;
}
.search_product_exchange_search input{
    font-size: 12px;
    width: 160px;
    height: 12px;
    line-height: 12px;
    padding: 6px;
    margin-right: 10px;
}
.search_product_exchange_search a{
    display: inline-block;
    width: 60px;
    height: 14px;
    line-height: 14px;
    padding: 7px;
    font-size: 14px;
    background: #f00;
    color: #fff;
    text-align: center;
}
.product_exchange_layer{
    width: 100%;
    height: auto;
    position: relative;
}

#submit_add_rule_temp{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #09f;
    color: #fff;
    display: block;
    margin-left: 360px;
    font-size: 14px;
}
#search_Porduct_inAwardSetting{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f00;
    color: #fff;
    display: block;
    font-size: 14px;
    position: absolute;
    bottom: 133px;
    left: 410px;
}
.add_product_exchange_temp{
    position: relative;
}
#submit_add_subject_list_temp{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #09f;
    color: #fff;
    display: block;
    margin-left: 280px;
    font-size: 14px;
    margin-top: 20px;
}

