.artical_nav{ width: 100%; height: 30px; position: relative; background: #333; margin-bottom: 10px;}
.artical_nav ul{ padding: 0px 10px; position: relative; overflow: hidden;}
.artical_nav ul li{ float: left; position: relative; display: block; cursor: pointer; height: 28px; margin: 1px;}
.artical_nav ul li.active{background: #fff;}
.artical_nav ul li.active a{ color: #09f;}
.artical_nav ul li:hover{ background: #fff;}
.artical_nav ul li:hover a{ color: #09f;}
.artical_nav ul li a{ color: #fff; padding: 1px 12px; height: 26px; line-height: 26px; display: block; font-size: 14px; }

.artical_management{ width: 660px; height: auto; margin:10px;}

.add_artical_management{ width: 100%; height: 30px; position: relative;}
.add_artical_management a{float: right; padding-right: 5px; display:inline-block; height: 30px; line-height: 30px; padding-left: 20px; background:url("image/add-row.gif") no-repeat 0 6px;}

.search_artical_management{ width: 100%; height: 30px; position: relative; margin: 10px 0;}
.search_artical_management_search{ width: 100%; height: 30px; line-height: 30px; position: relative; float: left;}
.search_artical_management_search span{ font-size: 12px; margin-right: 10px;}
.search_artical_management_search input{ font-size: 12px; width: 160px; height: 12px; line-height: 12px; padding: 6px; margin-right: 10px;}
.search_artical_management_search a{ display: inline-block; width: 60px; height: 14px; line-height: 14px; padding: 7px; font-size: 14px; background: #f00; color: #fff; text-align: center;}

.artical_management_list{ width: 658px; height: auto; position: relative;}
.artical_management_detail:nth-child(odd){ background: #dde7f3;}
.artical_management_title{ width: 100%; height: 32px; line-height: 32px; position: relative; border: 1px solid #AEB2BA;background: #F4F4F4;}
.artical_management_detail{ width: 100%; height: 42px; line-height: 42px; position: relative; border: 1px solid #AEB2BA; margin-top: -1px;}

.artical_management_select{ float: left; width: 30px; border-right: 1px solid #AEB2BA; text-align: center; position: relative;}
.artical_management_select input{ text-align: center; }

.artical_management_release{float: left; width: 50px; border-right: 1px solid #AEB2BA; text-align: center; position: relative;}

.artical_management_data{
    float: left;
    width: 112px;
    border-right: 1px solid #AEB2BA;
    text-align: center;
    position: relative;
}
.artical_management_protype{
    float: left;
    width: 80px;
    border-right: 1px solid #AEB2BA;
    text-align: center;
    position: relative;
}
.artical_management_protype span,.artical_management_release span,.artical_management_name a,.artical_management_data span{
    display: block;
    width: 90%;
    padding: 0 5%;
    height:42px;
    line-height: 42px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: left;
}

.artical_management_logo{
    float: left;
    width: 110px;
    border-right: 1px solid #AEB2BA;
    text-align: center;
    position: relative;
}
.artical_management_logo_img{
    display: block;
    width: 100px;
    height: 40px;
    margin: 1px 5px;
}

.artical_management_name{
    float: left;
    width: 160px;
    border-right: 1px solid #AEB2BA;
    text-align: center;
    position: relative;
}
.artical_management_oper{
    float: left;
    width: 110px;
    text-align: center;
}
.artical_management_detail_edit{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding-left: 18px;
    background: url("image/edit.png") no-repeat 0 7px;
}
.artical_management_detail_del{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding-left: 18px;
    margin-left: 10px;
    background: url("image/delete.gif") no-repeat 0 7px;
}
