*
{
    margin:0;
    padding: 0;
    font-size: 12px;
}
.clear
{
    clear: both;
}
.order_manange
{
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #d7e9fc;
}
.input_list {
    border: 1px solid #a7a6aa;
    color: #333;
    padding: 4px 0;
    padding-left: 2px;
    margin-top: 13px;
}
.txt_list {
    /*float: left;*/
    padding-right: 5px;
    line-height: 50px;
    font-size: 12px;
    margin-left: 10px;
}
.input_search {
    height: 25px;
    width: 70px;
    background: url(image/icon.gif) no-repeat -228px -57px;
    border: none;
    color: #fff;
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
    line-height: 22px;

}
.order_manange_main
{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.order_click_top
{
    float: left;
    background: url(image/top.gif) 0px 2px no-repeat;
    padding-left: 25px;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    width: 125px;
}
.order_click_down
{
    float: left;
    background: url(image/next.gif) 0px 2px no-repeat;
    padding-left: 25px;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    width: 125px;
}
.order_fonts
{
    font-size: 14px;
    color: #000;
}
.order_manage_ul
{
    width: 530px;
    margin-left: 185px;
    padding-top: 5px;
}
.order_manage_li
{
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 30px;
    width: 90px;
}
.order_manage_message strong
{
    float: left;
    padding-left: 10px;
    line-height: 20px;
    text-align: right;
    width: 150px;
    font-size: 12px;
}
.order_format
{
    float: left;
    margin-left: 25px;
    padding-top: 5px;
}
.order_format_li
{
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 30px;
    width: 80px;
}
.order_btn
{
    padding-left: 72px;
}
.order_input_btn
{
    width: 70px;
    height: 26px;
    background: url(image/icon.gif)no-repeat -105px -301px;
    color: #fff;
    border: 0;
    font-size: 12px;
}
.order_manage_info_title
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-indent: 5px;
    height: 25px;
    background:#ccc;
}
.order_manage_bg
{
    text-align: center;
    float: left;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-bindings: url('ellipsis.xml#ellipsis');
    border-right: 1px solid #ccc;
}
.order_manage_even_bg
{
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 12px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-bindings: url('ellipsis.xml#ellipsis');
    border-right: 1px solid #ccc;
    text-indent: 5px;
    border-top: 1px solid #ccc;
}
.order_manage_even_bg a
{
    color: #f00;
}
.order_list0{
    width:120px;
}

.order_list1
{
    width: 122px;
}
.order_list2
{
    width: 80px;
}
.order_list3
{
    width: 118px;
}
.order_list4
{
    width: 60px;
}
.order_list5
{
    width: 70px;
}
.order_list6
{
    width: 55px;
}
.order_list7
{
    width: 60px;
    line-height: 28px;
    text-align: center;
}
.order_list7 p
{
    text-align: center;
}
.order_list8
{
    width: 106px;
}

.order_list8 a{
    padding: 0 10px;
}

.order_list9
{
    border-right: 0;
    text-align: center;
    line-height: 28px;
}
.order_list9 p
{
    text-align: center;
}
.order_manage_odd
{
    height: 30px;
    width: 100%;
    background: #eee;

}
.order_manage_odd_li
{
    float: left;
    line-height: 30px;
    font-size: 12px;
    padding-right: 10px;
}
.order_odd_list1
{
    padding-left: 10px;
}
.order_odd_list1 input
{
    margin:0 5px;
}
.order_manage_even
{
    height: 30px;
    border-bottom: 1px solid #ccc;
}

.order_manage_even:nth-child(odd){
    background: #dde7f3;
}


.order_manage_message_select_all{
    width: 100%; height: 30px; line-height: 30px;
    overflow: hidden; background: #eee;  text-indent: 2em;
}

#list_all{
    position: relative; top: 2px; margin-left: 5px;
}

.order_manage_message_select_button,.send_goods_yhj_button{
    margin-left: 20px;  height: 25px; padding: 0 15px; background: #5690D2; border: none;
    cursor: pointer;
}
.send_goods_yhj_button1{
    margin: 0 auto; display: block; margin-top: 60px;
}
.send_goods_yhj_button2{
    margin: 0 auto; display: block; margin-top: 20px;
}


#order_manage_info input{
    position: relative; top: 2px;
}



.send_all_main{
    width: 850px; height: 350px;
}
.send_all_top{
    width: 100%; height: 40px; margin-top: 10px;
}
.send_all_body{
    width: 100%; height: 230px; overflow-x :hidden; overflow-y: auto;
}
.send_all_bottom{
    width:100%; height: 40px;
}
.submit_button{
    width:100px; height: 30px; line-height: 30px; background: #5690D2;
    text-align: center; border: none; color: #fff; cursor: pointer;
    margin: 0 auto; margin-top: 10px;
}

.send_all_body_list{
    width: 830px; height: 25px; line-height: 25px;
}
.send_all_body_list_title{
    background: #eee; text-align: center; border-top:1px solid #aaa;

}
.send_all_body_list div{
    float: left; border-bottom: 1px solid #aaa; border-right:1px solid #aaa;
    font-size: 12px;
}
.send_all_body_list1{
    width: 68px; border-left:1px solid #aaa; text-align: center;
}
.send_all_body_list2{
    width: 69px; text-align: center;
}
.send_all_body_list3{
    width: 139px; text-align: center;
}
.send_all_body_list4{
    width: 229px; text-indent:1em;
}
.send_all_body_list5{
    width: 99px; text-align: center;
}
.send_all_body_list6{
    width: 109px; text-align: center;
}
.send_all_body_list7{
    width: 109px;
}
.send_all_body_list7 input{
    width: 100px; margin-left: 2px;
}



/*订单详情*/
.win_order_info{
    width: 600px;
}
.win_order_info_title{
    width: 100%; height: 40px; line-height: 40px; font-size: 16px;
}
.win_order_info_title span{
    color: #f00;  font-size: 16px;
}
.win_order_info_hang{
    width: 100%; height: 30px; line-height: 30px; font-size: 16px;
    border-bottom: 1px solid #eee; padding-top: 20px;
}
.win_order_info_item{
    color: #666; text-indent: 2em; width: 100%; height: 20px; line-height: 20px;
}
.win_order_info_item span{
    margin-left: 10px;
}
.js_bind_product_img{
    height: 110px; margin-top: 10px;
}
.js_bind_product_img img{
    margin-left: 10px;
}


/*优惠劵发货窗口*/
.send_goods_yhj{
    width: 600px;
}
.send_goods_yhj_title{
    width:100%; text-align: center; height: 50px; line-height: 50px;
    font-weight: bold; font-size: 16px;
}
.send_goods_yhj_hang{
    width: 100%; height: 30px; line-height: 30px; position: relative;
}
.send_goods_yhj_hang span{
    position: absolute; left: 95px; top: 0;
}
.send_goods_yhj_hang textarea{
    width: 400px; height: 50px; position: relative; top: -20px; left: 95px;
}


