.user_infromation_list{
    width: 860px;
    height: auto;
    margin:40px 20px;
}

.add_user_infromation_list{
    width: 100%;
    height: 30px;
    position: relative;
}
.add_user_infromation_list a{
    float: right;
    padding-right: 5px;
    display:inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background:url("images/add-row.gif") no-repeat 0 6px;
}

.search_user_infromation_list{
    width: 100%;
    height: 30px;
    position: relative;
    margin: 10px 0;
}
.search_user_infromation_list_search{
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    float: left;
}
.search_user_infromation_list_search span{
    font-size: 12px;
    margin-right: 10px;
}
.search_user_infromation_list_search input{
    font-size: 12px;
    width: 160px;
    height: 12px;
    line-height: 12px;
    padding: 6px;
    margin-right: 10px;
}
.search_user_infromation_list_search a{
    display: inline-block;
    width: 60px;
    height: 14px;
    line-height: 14px;
    padding: 7px;
    font-size: 14px;
    background: #f00;
    color: #fff;
    text-align: center;
}
.user_infromation_list_layer{
    width: 100%;
    height: auto;
    position: relative;
}

#submit_add_user_infromation_temp{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #09f;
    color: #fff;
    display: block;
    margin-left: 360px;
    font-size: 14px;
}